.home-grid-c {
  display: flex;
  flex-direction: column;
  gap: ptr(16, desktop);

  img {
    max-width: 100%;
    max-height: 100%;
  }
  .top, .container {
    display: flex;
    gap: ptr(16, desktop)
  }
  .top {
    .left, .right {
      display: flex;
      flex-direction: column;
      gap: ptr(16, desktop);
    }
  }
  .bottom {
    display: flex;
    gap: ptr(16, desktop);
  }
}

.cell-1 {
  @include min(desktop) {
    width: ptr(632, desktop);
    height: ptr(502, desktop);
  }
}
.cell-2 {
  @include min(desktop) {
    width: ptr(632, desktop);
    height: ptr(450, desktop);
  }
}
.cell-3 {
  @include min(desktop) {
    width: ptr(632, desktop);
    height: ptr(454, desktop);
  }
}
.cell-4 {
  @include min(desktop) {
    width: ptr(395, desktop);
    height: ptr(247, desktop);
  }
}
.cell-5 {
  @include min(desktop) {
    width: ptr(221, desktop);
    height: ptr(247, desktop);
  }
}
.cell-6 {
  @include min(desktop) {
    width: ptr(632, desktop);
    height: ptr(364, desktop);
  }
}
.cell-7 {
  @include min(desktop) {
    width: ptr(632, desktop);
    height: ptr(351, desktop);
  }
}
.cell-8 {
  @include min(desktop) {
    width: ptr(308, desktop);
    height: ptr(367, desktop);
  }
}
.cell-9 {
  @include min(desktop) {
    width: ptr(308, desktop);
    height: ptr(367, desktop);
  }
}
.cell-10 {
  @include min(desktop) {
    width: ptr(308, desktop);
    height: ptr(367, desktop);
  }
}
.cell-10 {
  @include min(desktop) {
    width: ptr(632, desktop);
    height: ptr(364, desktop);
  }
}
.cell-11 {
  overflow: hidden;
  @include min(desktop) {
    width: ptr(632, desktop);
    height: ptr(993, desktop);
  }
  .mockup {
    bottom: -20%;
    right: 0;
  }
}
.cell-12 {
  overflow: hidden;
  @include min(desktop) {
    width: ptr(858, desktop);
    height: ptr(568, desktop);
  }
  .mockup {
    bottom: -20%;
    right: 0;
  }
}
.cell-13 {
  @include min(desktop) {
    width: ptr(406, desktop);
    height: ptr(568, desktop);
  }
}