.single-project {
  margin: ptr(48, desktop) ptr(80, desktop);
  padding-bottom: ptr(48, desktop);

  article {
    .project-header {
      h2 {
        margin-top: ptr(8, desktop)
      }
      p, h2 {
        text-align: center;
      }
    }
    .details {
      margin-top: ptr(64, desktop);
      display: flex;
      gap: ptr(40, desktop);

      aside {
        min-width: ptr(663, desktop);
        display: flex;
        flex-direction: column;
        gap: ptr(16, desktop);
        .zoom-img-bg.active {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 9;
          width: calc(100% - ptr(160, desktop));
          height: calc(100% - ptr(160, desktop));

          img {
            height: 100%;
          }
        }
        img {
          border-radius: ptr(32, desktop);
          height: ptr(600, desktop);
          object-fit: cover;
          width: 100%;
          transition: .3s ease-in-out;
        }
      }
      .content {
        position: sticky;
        top: 0;
        height: fit-content;

        .article-infos {
          display: flex;
          flex-direction: column;
          gap: ptr(12, desktop);
          margin-bottom: ptr(32, desktop);
        }

        .article-body {
          display: flex;
          flex-direction: column;
          gap: ptr(32, desktop)
        }
      }
    }
  }
  .blur-bg {
    background: #0E0E0E;
    opacity: 0%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    transition: .3s ease-in-out;
    z-index: 2;
  }
  .blur-bg.active {
    opacity: 90% !important;
  }
}