// ========================================================================== \\
// ================================FONTS===================================== \\
// ========================================================================== \\

@font-face {
    font-family: 'Main bold';
    src: url('/RedHatDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Main regular';
    src: url('/RedHatDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Main ExtraBold';
    src: url('/RedHatDisplay-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.h1 {
    font-family: 'Main bold', sans-serif;
    text-shadow: 0px 0px 20px rgba(193,193,193,0.2);
    @include min(desktop) {
        font-size: ptr(48, desktop);
    }
}
.h1-l {
    font-family: 'Main bold', sans-serif;
    text-shadow: 0px 0px 20px rgba(193,193,193,0.2);
    @include min(desktop) {
        font-size: ptr(64, desktop);
    }
}
.h2 {
    font-family: 'Main bold', sans-serif;
    text-shadow: 0px 0px 20px rgba(193,193,193,0.2);
    @include min(desktop) {
        font-size: ptr(40, desktop);
    }
}
.h3 {
    font-family: 'Main Medium', sans-serif;
    @include min(desktop) {
        font-size: ptr(30, desktop);
    }
}
.h4 {
    font-family: 'Main Bold', sans-serif;
    @include min(desktop) {
        font-size: ptr(24, desktop);
    }
}

.p-l {
    font-family: 'Main regular', sans-serif;

    @include min(desktop) {
        font-size: ptr(24, desktop);
    }
}
.p-m {
    font-family: 'Main regular', sans-serif;

    @include min(desktop) {
        font-size: ptr(20, desktop);
    }
}
.p-s {
    font-family: 'Main regular', sans-serif;

    @include min(desktop) {
        font-size: ptr(16, desktop);
    }
}
.p-xs {
    font-family: 'Main regular', sans-serif;

    @include min(desktop) {
        font-size: ptr(14, desktop);
    }
}
.p-s-extrabold {
    font-family: 'Main ExtraBold', sans-serif;

    @include min(desktop) {
        font-size: ptr(16, desktop);
    }

}

// ========================================================================== \\
// ================================COLORS==================================== \\
// ========================================================================== \\

$grey_50: #F6F6F6;
$grey_100: #E7E7E7;
$grey_200: #D1D1D1;
$grey_300: #B0B0B0;
$grey_400: #888888;
$grey_500: #6D6D6D;
$grey_600: #5D5D5D;
$grey_700: #4F4F4F;
$grey_800: #454545;
$grey_900: #3D3D3D;
$grey_950: #262626;
$grey_980: #1D1D1D;
$grey_1000: #0E0E0E;

.grey-50 {
    color: $grey_50;
}
.grey-50-bg {
    background-color: $grey_50;
}
.grey-100 {
    color: $grey_100;
}
.grey-100-bg {
    background-color: $grey_100;
}
.grey-200 {
    color: $grey_200;
}
.grey-200-bg {
    background-color: $grey_200;
}
.grey-300 {
    color: $grey_300;
}
.grey-300-bg {
    background-color: $grey_300;
}
.grey-400 {
    color: $grey_400;
}
.grey-400-bg {
    background-color: $grey_400;
}
.grey-500 {
    color: $grey_500;
}
.grey-500-bg {
    background-color: $grey_500;
}
.grey-600 {
    color: $grey_600;
}
.grey-600-bg {
    background-color: $grey_600;
}
.grey-700 {
    color: $grey_700;
}
.grey-700-bg {
    background-color: $grey_700;
}
.grey-800 {
    color: $grey_800;
}
.grey-800-bg {
    background-color: $grey_800;
}
.grey-900 {
    color: $grey_900;
}
.grey-900-bg {
    background-color: $grey_900;
}
.grey-950 {
    color: $grey_950;
}
.grey-950-bg {
    background-color: $grey_950;
}
.grey-980 {
    color: $grey_980;
}
.grey-980-bg {
    background-color: $grey_980;
}
.grey-1000 {
    color: $grey_1000;
}
.grey-1000-bg {
    background-color: $grey_1000;
}



// ========================================================================== \\
// =================================SIZES==================================== \\
// ========================================================================== \\

.main-radius {
    @include min(desktop) {
        border-radius: ptr(32, desktop);
    }
}
.secondary-radius {
    @include min(desktop) {
        border-radius: ptr(16, desktop);
    }
}
.side-margin {
    @include min(desktop) {
        margin-left: ptr(80, desktop);
        margin-right: ptr(80, desktop);
    }
}






.x-center {
    justify-content: center;
}
.relative {
    position: relative;
}
.behind {
    z-index: -1;
}
.txt-section-padding {
    @include min(desktop) {
        padding-top: ptr(40, desktop);
        padding-left: ptr(32, desktop);

        h2 {
            margin-top: ptr(8, desktop);
        }
    }
}
.absolute {
    position: absolute;
}
.txt-section-bottom {
    @include min(desktop) {
        position: absolute;
        bottom: ptr(40, desktop);
        left: ptr(32, desktop);
    }
}
.overflow-hidden {
    overflow: hidden;
}
.main-bg-gradiant, %main-bg-gradiant {
    background: linear-gradient(130deg, rgba(33,39,19,1) 0%, rgba(31,31,31,1) 0%, rgba(21,21,21,1) 100%);
}
.x-between {
    justify-content: space-between;
}

.x-around {
    justify-content: space-around;
}

.y-center {
    align-items: center;
}

.y-between {
    align-items: space-between;
}

.y-around {
    align-items: space-around;
}

/** If allready Flex Direction : Column **/

.y-center {
    justify-content: center;
}

.y-between {
    justify-content: space-between;
}

.y-around {
    justify-content: space-around;
}
.cover {
    object-fit: cover;
}
.obj-top {
    object-position: top;
}
.x-center {
    align-items: center;
}

.x-between {
    align-items: space-between;
}

.x-around {
    align-items: space-around;
}

.fd-column {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.abs-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.tw-pretty {
    text-wrap: pretty;
}

.flex {
    display: flex;
}

.hidden-sb::-webkit-scrollbar {
    display: none;
}

.contain {
    object-fit: contain;
}

.only-desktop {
    @include max(desktop) {
        display: none;
    }
}

.only-mobile {
    @include min(desktop) {
        display: none;
    }
}

.mobile-column {
    @include max(desktop) {
        flex-direction: column;
    }
}

.mobile-x-start {
    @include max(desktop) {
        align-items: flex-start;
    }
}

.desktop-row {
    @include min(desktop) {
        flex-direction: row;
    }
}

.mobile-x-center {
    @include max(desktop) {
        align-items: center;
    }
}

.desktop-x-end {
    @include min(desktop) {
        align-items: flex-end;
    }
}

.md-auto-x {
    margin-left: auto;
    margin-right: auto;
}
.w-fit {
    width: fit-content;
}


@keyframes floatUp {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 30px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes floatDown {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 30px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes floatRight {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(30px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes floatLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(30px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes pulse-blue {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(53, 67, 198, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(53, 67, 198, 0)
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(53, 67, 198, 0)
    }
}
